VITE_SUPABASE_URL=https://ktguffmofbyobdgyjbln.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt0Z3VmZm1vZmJ5b2JkZ3lqYmxuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzEyMDIzMDAsImV4cCI6MjA4Njc3ODMwMH0.N4VSIpXBXJ9qocosunHI2A09oQc8EchNM7RVU5oFYTI
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt0Z3VmZm1vZmJ5b2JkZ3lqYmxuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTIwMjMwMCwiZXhwIjoyMDg2Nzc4MzAwfQ.xuHbVV4ijJ_EBt_AQk7gGWExp1kHRenQCMe-xrxHlXA
